<!DOCTYPE html>
<html>
<head>
 <meta content="text/html"; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1> Thanks for signing up at ImageGame</h1>
  <p>
  You are successfully signed up, and your username is: <%= @user.name %>. <br/>
  </p>
  <p>
  To signin login in at <%= @url %>. Invite your friends to signup at ImageGame too!
  </p>
  <p>
  Collect some interesting photos (between 500Kb - 1 Mb in size is recommended) and upload them to your account, next time you sign in.
  </p>
  <p>Thanks for joining ImageGame!</p><br/>
  <p>- the ImageGame team -</p>
 </body>
 </html>