.container {width: 1200px; background-color: #333}

.smalltable {width: 300px; background-color: #333}

body {background: #333;}

header {padding-top: 20px;}

section {
 margin-top: 1em;
 font-size: 120%;
 color: #999;
 padding: 20px;
 background: #333;
}

section h1 {font-size: 200%;
            color: #999;}

/* Links */

a {color: #999;
   text-decoration: none;}
   
a:hover {
 color: #white;
 text-decoration: underline;
}
   
/* Navigation */

nav {float: left;
     margin-top: 20px;
}

nav {
 background-color: #333;
 padding: 0 0.7em;
 white-space: nowrap;
}

nav ul { margin: 0;
         padding: 0;
    }

nav ul li {
 list-style-type: none;
 display: inline-block;
 padding: 0.2em 0;
}

nav ul li a {
 padding: 0 5px;
 font-weight: bold;
}

nav ul li a: hover {
 text-decoration: underline;
}

/* Round Corners */

.round {
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 border-radius: 10px;
}

/* Table Rows */

tbody tr:nth-child(even) td, tbody tr.even td {background:#333;}
