   <br/>
   <h1>Hello, <%= @user.name %></h1>
   <br/>
   <p>You've been invited to <%= @fromcount %> matches, which are still open.</p>
   <p>You've started <%= @tocount %> matches, which are still open.</p>
   <p>There are <%= @photoscount %> images in your library.</p>
   

 
