
   <h1>Thanks for signing up!</h1>
   <p>Add some photos to begin playing an ImageGame. Your login name is: <%= @user.name %>. 
   Messages will be sent to the email you entered: <%= @user.email %></p>

 
