<br/>
<br/>
   <h1>ImageGame</h1>
   <p>A game where you match images. Upload a photo, say a picture of a tree. 
   Then send the photo to a friend to begin an ImageGame. They will see your photo in their 
   account and can match it with say a picture of a lamp pole, since you photographed a 
   very skinny tree ;) When photos are matched they are displayed side
   by side under the finished matches menu. <br/><br/>Use your imagination and
   select interesting photos that can be matched in interesting ways. There are
   no rules to the ImageGame, except that you should amuse yourself and your friends!!</p>
   <p></p>
   <%= link_to "Sign up now!" , signup_path %>

 
