  <br/>
  <br/>
<h1>Complete match with picture:</h1>

<div class ="smalltable">
 <table>
   <p>Selected picture for match:</p>
   <%= form_for(@match) do |f| %>
    <% matchid = @match.id %>
     
         
    <% @photos.each do |photo| %>
    <tr>
     <td><%= image_tag photo.image.url (:small) %></td>
     <td><%= f.radio_button (:endphoto, photo.id) %></td>
    </tr>
</div>
    <% end %>
   
</table>
     <%= f.submit "pick" %>
    <% end %>
    




