<h1>Open Matches:</h1>

   
<% @matches.each do |match| %>
    
    <% if match.enduser == @user.name && !match.endphoto? %>
    <% startuser = match.startuser %>
    <% photoid = match.startphoto %>
    <% startphoto = Photo.find_by_id(photoid) %>
   
    <table>   
     <tr>
      <td><%= link_to startphoto.imagestring, edit_match_path(match) %></td>
      <td>from: <%= startuser %></td>

     </tr>
    </table> 
    <% end %>
   


<% end %> 

