  <br/>
  <br/>
<h1>Open Matches:</h1>
<br/>
<% @endmatches.each do |match| %>
    
    <% if !match.endphoto? %>
    <% startuser = match.startuser %>
    <% photoid = match.startphoto %>
    <% startphoto = Photo.find_by_id(photoid) %>
<div class = "smalltable">  
    <table>   
     <tr>
      <td><%= link_to image_tag (startphoto.image.url (:small)), edit_match_path(match) %></td>
      <td>from: <%= startuser %></td>

     </tr>
    </table> 
</div>
    <% end %>
    
<% end %>
  
<% @startmatches.each do |match| %>
    
    <% if !match.endphoto? %>
    <% enduser = match.enduser %>
    <% photoid = match.startphoto %>
    <% startphoto = Photo.find_by_id(photoid) %>
 <div class = "smalltable">   
    <table>   
     <tr>
      <td><%= link_to image_tag (startphoto.image.url (:small)), edit_match_path(match) %></td>
      <td>to: <%= enduser %></td>

     </tr>
    </table> 
    </div>
    <% end %>


<% end %> 

