
   <% startuser = @match.startuser %>
   <% enduser = @match.enduser %>
   
   <% startphotoid = @match.startphoto %>
   <% startphoto = Photo.find_by_id(startphotoid) %>

   <% endphotoid = @match.endphoto %>
   <% endphoto = Photo.find_by_id(endphotoid) %>


    
   <table> 
            <tr> 
      <td><%= image_tag "/images/spacer.gif" %> </td>
     </tr>

    <tr>
     <td><%= link_to image_tag (startphoto.image.url (:big)), '/finishedmatches'%>
     <%= link_to image_tag (endphoto.image.url (:big)), '/finishedmatches' %></td>

    </tr>    <tr> 
      <td><%= image_tag "/images/spacer.gif" %> </td>
     </tr>


   </table>


