  <br/>
  <br/>
  <h1>Upload an Image</h1>

<% user = User.find_by_id(session[:remember_token]) %>

<%= form_for @photo, :html => { :multipart => true } do |f| %>

  <br/>
  <br/>
  
 <div class='field'>
  <%= f.file_field :image %>
 </div>
 
   <br/>
  <br/>
 
  <div class='actions'>
  <%= f.submit "Upload file" %><br/>
 </div>

<% end %>

