
   <h1>This is your photo: </h1>
   <p><%= @photo.imagestring %></p>
   
   <table>
   <p>Available friends:</p>
   <% @users.each do |user| %>
    <tr>
     <td><%= link_to user.name, user_path(user) %></td>
    </tr>
   <% end %>
   </table>
   
