<!DOCTYPE html>
<html>
<head>
 <meta content="text/html"; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>You have been challanged to an ImageGame</h1>

  <p>
   <%= @fromuser %> has invited you to an image game. 
   Login at <%= @url %>, steer to 'open matches' and match <%= @fromuser %>'s image!
  </p>
 </body>
 </html>