<!DOCTYPE html>
<html>
<head>
 <meta content="text/html"; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <h1>You have been challanged to an ImageGame</h1>

  <p>
   Login at <%= @url %>, go to 'open matches' and match the image!
  </p>
 </body>
 </html>